<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Редактирование срочных вкладов</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../js/deposits.js" th:src="@{/js/deposits.js}"></script>
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 mt-3">
        <form id="form" class="form-control" method="post" th:action="@{update}" th:object="${termDeposit}">
            <div class="mb-3 mt-3">
                <input type="number" name="depositId" class="form-control" th:value="${termDeposit.getDepositId()}"
                       hidden="hidden">
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label">Банк:</label>
                <select id="banks" th:field="${termDeposit.bank}" name="bank" class="form-select">
                    <option name="bank" th:each="bank:${listBanks}" th:text="${bank.getBankName()}"
                            th:value="${bank.getBankId()}"></option>
                </select>
            </div>
            <div class="mb-3 mt-3">
                <label for="depositName" class="form-label">Название:</label>
                <input id="depositName" type="text" name="depositName" class="form-control" th:errorClass="'error'"
                       th:value="${termDeposit.getDepositName()}">
                <div id="nameError" class="text-danger" th:if="${#fields.hasErrors('depositName')}"
                     th:errors="${termDeposit.depositName}">Error
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label for="interestRate" class="form-label">Ставка:</label>
                <input id="interestRate" type="number" step="0.01" name="interestRate" class="form-control" th:errorClass="'error'"
                       th:value="${termDeposit.getInterestRate()}">
                <div id="interestRateError" class="text-danger" th:if="${#fields.hasErrors('interestRate')}"
                     th:errors="${termDeposit.interestRate}">Error
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label for="amount" class="form-label">Минимальная сумма:</label>
                <input id="amount" type="number" step="0.01" name="amount" class="form-control" th:errorClass="'error'"
                       th:value="${termDeposit.getAmount()}">
                <div id="amountError" class="text-danger" th:if="${#fields.hasErrors('amount')}"
                     th:errors="${termDeposit.amount}">Error
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label for="currency" class="form-label">Валюта:</label>
                <input id="currency" type="text" name="currency" class="form-control" th:errorClass="'error'"
                       th:value="${termDeposit.getCurrency()}">
                <div id="currencyError" class="text-danger" th:if="${#fields.hasErrors('currency')}"
                     th:errors="${termDeposit.currency}">Error
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label for="term" class="form-label">Срок:</label>
                <input id="term" type="text" name="term" class="form-control" th:errorClass="'error'"
                       th:value="${termDeposit.getTerm()}">
                <div id="termError" class="text-danger" th:if="${#fields.hasErrors('term')}"
                     th:errors="${termDeposit.term}">Error
                </div>
            </div>
            <div class="mb-3 mt-3">
                <input id="hasCapitalization" type="checkbox" name="hasCapitalization" class="form-check-input"
                       th:checked="${termDeposit.isHasCapitalization()}?'checked'">
                <label for="hasCapitalization" class="form-label">Капитализация</label>
            </div>
            <div class="mb-3 mt-3">
                <input id="hasReplenishment" type="checkbox" name="hasReplenishment" class="form-check-input"
                       th:checked="${termDeposit.isHasReplenishment()}?'checked'">
                <label for="hasReplenishment" class="form-label">Пополнение</label>
            </div>
            <div class="mb-3 mt-3">
                <input id="hasPartialWithdrawal" type="checkbox" name="hasPartialWithdrawal" class="form-check-input"
                       th:checked="${termDeposit.isHasPartialWithdrawal()}?'checked'">
                <label for="hasPartialWithdrawal" class="form-label">Частичное снятие</label>
            </div>
            <div class="mb-3 mt-3">
                <input id="hasEarlyWithdrawal" type="checkbox" name="hasEarlyWithdrawal" class="form-check-input"
                       th:checked="${termDeposit.isHasEarlyWithdrawal()}?'checked'">
                <label for="hasEarlyWithdrawal" class="form-label">Досрочное закрытие</label>
            </div>
            <div class="d-grid gap-2 mx-auto">
                <button type="submit" class="btn btn-dark">Изменить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>