<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="template">
<head>
    <title>Срочные вклады</title>
    <link th:href="@{/css/deposit_styles.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="../js/deposits.js" th:src="@{/js/deposits.js}"></script>
    <script type="text/javascript" src="../js/selection.js" th:src="@{/js/selection.js}"></script>
</head>
<body>
<div layout:fragment="content1">
    <div class="modal fade" id="calculatorModalForTermDeposit" tabindex="-1" role="dialog"
         aria-labelledby="calculatorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="calculatorModalLabel">Калькулятор вкладов</h5>
                    <button id="btnCalculatorModal" type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row align-items-stretch">
                        <div class="p-2" style="width: 400px;">
                            <form id="form3" class="form-control" style="background-color: darkgrey">
                                <label id="calculator " class="fs-3 fw-bold">Данные для расчета</label>
                                <div class="row g-3 mt-3">
                                    <label for="depositAmount" class="form-label col">Сумма </label>
                                    <input id="depositAmount" type="number" class="form-control h-25 w-50 col">
                                    <label id="depositCurrency" class="form-label col"></label>
                                </div>
                                <div class="row g-3 mt-3">
                                    <label for="interestRateForCalculation"
                                           class="form-label col">Ставка </label>
                                    <input id="interestRateForCalculation" type="number"
                                           class="form-control h-25 w-50 col" readonly>
                                    <label id="percent" class="form-label col">%</label>
                                </div>
                                <div class="row g-3 mt-3 mb-3">
                                    <label for="depositTerm" class="form-label col">Срок </label>
                                    <input id="depositTerm" type="number" class="form-control h-25 w-50 col"
                                           readonly>
                                    <label id="month" class="form-label col">мес.</label>
                                </div>
                                <div>
                                    <label id="capitalization"></label>
                                </div>
                            </form>
                        </div>
                        <div class="p-2" style="width: 400px;">
                            <form id="form4" class="form-control"
                                  style="background-color: darkgrey; height: 298px;">
                                <label id="count" class="fs-3 fw-bold">Расчет вклада</label>
                                <div class="row g-3 mt-3">
                                    <label class="form-label col" style="width: 200px;">Итоговая сумма: </label>
                                    <input id="endAmount" type="number" style="margin-top: 24px;"
                                           class="form-control h-25 w-50 col" readonly>
                                    <label id="depositEndCurrency" class="form-label col"
                                           style="margin-top: 24px;"></label>
                                </div>
                                <div class="row g-3 mt-3 mb-3">
                                    <label class="form-label col" style="width: 200px;">Доход: </label>
                                    <input id="income" type="number" class="form-control h-25 w-50 col"
                                           readonly>
                                    <label id="incomeCurrency" class="form-label col"></label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <form class="search-box shadow" method="get" th:action="@{index}">
                    <input type="text" class="search-field" name="keyword" placeholder="Искать здесь..."
                           th:value="${keyword}">
                    <button type="submit" class="search-button"></button>
                </form>
                <form sec:authorize="hasAuthority('Client')" id="selectionForm" class="form-control" method="post" th:action="@{search}"  style="background-color: #DCDCDC;">
                    <div class="d-flex flex-column">
                        <div class="row p-2">
                            <div class="p-2 col flex-column">
                                <label for="amountField" class="form-label">Сумма</label>
                                <input id="amountField" th:field="${termDeposit.amount}" type="number" placeholder="Любая"
                                       value="0" class="form-control">
                            </div>
                            <div class="p-2 col flex-column">
                                <label for="currencyField" class="form-label">Валюта</label>
                                <select id="currencyField" th:field="${termDeposit.currency}"
                                        class="form-select">
                                    <option value="BYN" selected>BYN</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                </select>
                            </div>
                            <div class="p-2 col flex-column">
                                <label for="termField" class="form-label">Срок</label>
                                <input id="termField" type="text" name="term" th:field="${termDeposit.term}" placeholder="Любой"
                                       class="form-control" value="0">
                            </div>
                            <div class="p-2 col flex-column">
                                <label for="banks" class="form-label">Банк</label>
                                <select id="banks" th:field="${termDeposit.bank}" name="bank" class="form-select">
                                    <option name="bank" th:each="bank:${listBanks}" th:text="${bank.getBankName()}"
                                            th:value="${bank.getBankId()}"></option>
                                </select>
                            </div>
                            <div class="p-2 col flex-column">
                                <button id="optimalSearchBtn" type="submit" class="btn btn-dark" style="margin-top: 32px;"
                                        onclick="localStorage.clear();">Подобрать вклад</button>
                                <a id="resetBtn" class="btn btn-dark" onclick="localStorage.clear();" style="margin-top: 32px;">Сброс</a>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="p-2 col">
                                <input id="hasCapitalizationField" type="checkbox" name="hasCapitalization"
                                       class="form-check-input"
                                       th:field="${termDeposit.hasCapitalization}">
                                <label for="hasCapitalizationField" class="form-label">Капитализация</label>
                            </div>
                            <div class="p-2 col">
                                <input id="hasReplenishmentField" type="checkbox" name="hasReplenishment"
                                       class="form-check-input"
                                       th:field="${termDeposit.hasReplenishment}">
                                <label for="hasReplenishmentField" class="form-label">Пополнение</label>
                            </div>
                            <div class="p-2 col">
                                <input id="hasPartialWithdrawalField" type="checkbox" name="hasPartialWithdrawal"
                                       class="form-check-input"
                                       th:field="${termDeposit.hasPartialWithdrawal}">
                                <label for="hasPartialWithdrawalField" class="form-label">Частичное снятие</label>
                            </div>
                            <div class="p-2 col">
                                <input id="hasEarlyWithdrawalField" type="checkbox" name="hasEarlyWithdrawal"
                                       class="form-check-input"
                                       th:field="${termDeposit.hasEarlyWithdrawal}">
                                <label for="hasEarlyWithdrawalField" class="form-label">Досрочное закрытие</label>
                            </div>
                            <div style="width: 250px;"></div>
                        </div>
                    </div>
                </form>
                <table class="table table-hover table-striped">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th>№</th>
                        <th>Банк</th>
                        <th>Название<a class="icon-sort" th:href="@{/termDeposits/depositSorting}"/></th>
                        <th>Cтавка<a class="icon-sort" th:href="@{/termDeposits/interestRateSorting}"/></th>
                        <th>Cумма<a class="icon-sort" th:href="@{/termDeposits/amountSorting}"/></th>
                        <th>Валюта</th>
                        <th>Срок</th>
                        <th>Капитализация</th>
                        <th>Пополнение</th>
                        <th>Cнятие</th>
                        <th>Досрочное закрытие</th>
                        <th colspan="2">Операции</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" th:each="deposit:${listTermDeposits}">
                        <td th:text="${depositStat.index + 1}"></td>
                        <td th:text="${deposit.getBank().getBankName()}"></td>
                        <td th:text="${deposit.getDepositName()}"></td>
                        <td th:text="${deposit.getInterestRate()+'%'}"></td>
                        <td th:text="${deposit.getAmount()}"></td>
                        <td th:text="${deposit.getCurrency()}"></td>
                        <td th:text="${deposit.getTerm() + ' мес.'}"></td>
                        <td><p th:class="${deposit.isHasCapitalization()?'icon-check':'icon-cross'}"></p></td>
                        <td><p th:class="${deposit.isHasReplenishment()?'icon-check':'icon-cross'}"></p></td>
                        <td><p th:class="${deposit.isHasPartialWithdrawal()?'icon-check':'icon-cross'}"></p></td>
                        <td><p th:class="${deposit.isHasEarlyWithdrawal()?'icon-check':'icon-cross'}"></p></td>
                        <td sec:authorize="hasAuthority('Admin')">
                            <a class="btn btn-danger"
                               onclick="return confirm('Вы действительно хотите удалить запись?')"
                               th:href="@{/termDeposits/delete(depositId=${deposit.getDepositId()}, keyword=${keyword})}"></a>
                        </td>
                        <td sec:authorize="hasAuthority('Admin')">
                            <a class="btn btn-success" onclick="localStorage.clear();"
                               th:href="@{/termDeposits/formUpdate(depositId=${deposit.getDepositId()})}"></a>
                        </td>
                        <td sec:authorize="hasAuthority('Client')">
                            <a class="btn deposit-btn" onclick="localStorage.clear();"
                               th:href="@{/openedTermDeposits/formCreate(depositId=${deposit.getDepositId()})}">Открыть</a>
                        </td>
                        <td sec:authorize="hasAuthority('Client')">
                            <a class="btn deposit-btn" role="button" data-bs-toggle="modal"
                               data-bs-target="#calculatorModalForTermDeposit" th:data-atr="${deposit.getDepositId()}">Калькулятор</a>
                        </td>
                    </tr>
                    </tbody>
                    <a sec:authorize="hasAuthority('Admin')" class="add-btn" th:href="@{/termDeposits/formCreate}" onclick="localStorage.clear();"></a>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>